$break_width: 720px;
$content_bg: #f0f0f4cb;
$content_highlight: #ffffffe8;

* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;

    @media (min-width: $break_width) {
        background-size: 100% auto;
    }

    @media  (max-width: $break_width) {
        background-size: auto 100%;
    }
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex: row nowrap;
    justify-content: center;
    width: 100vw;

    a {
        text-decoration: none;
        text-align: center;
        color: black;
        background-color: $content_bg;
        font-family: "Times New Roman";
        font-size: 16pt;
        padding-top: 25px;
        padding-bottom: 25px;
        display: inline-block;
        width: 100%;
    }

    a:hover, .navbar-light .navbar-nav .nav-link:hover {
        background-color: $content_highlight;
    }
}

.navbar-nav {
    flex-direction: row;
}

.content {
    background-color: $content_bg;
    padding: 20px;
    margin: 20px;

    .catchphrase {
        position: absolute;
        top: 30%;
        left: 48%;
    }

    h3 {
        padding-top: 5px;
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    ul {
        padding-left: 30px;
    }

    table {
        border-collapse: collapse;
    }

    th {
        background-color: gray;
    }

    th, td {
        padding: 5px;
    }
}

#funtable {
    border-style: dotted;
}

.first_section {
    display: flow-root;
}

.social li {
    float: left;
    list-style-type: none;
    background-color: #00000000;
    padding-top: 10px;
    padding-right: 20px;
}

